@{
    Layout = null;
}

   <div class="navbar-left admin-create-challenge-logo">
                      <a class="brand logo" href="#">
                                        <img src="~/Images/admin-create-challenge-logo.png" alt="">
                                    </a>              
                                </div>
