<footer>
    <div class="container footer">       
        <div id="nav_seo">
            <ul>
                <li>
         
                </li>
                <li>
                    <a href="https://greenmoney.desk.com/customer/portal/topics/829053-terms-and-privacy/articles?b_id=9831" target="_blank">Legal</a>
                </li>
                <li>
                    <a href="https://greenmoney.desk.com/?b_id=9831" target="_blank">Help Centre</a>
                </li> 
        </div>
    
        <p id="copyright">Powered by the GreenWork platform.</p>
    </div>
            </ul>
        </div>
    

    </div>
</footer>