@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="myaccountmenu">
        <div class="navbar-inner navbar-left">
            <nav class="nav-sidebar">
                <div class="brand">Help</div>
                <ul class="nav">
                    @*<li><a href="@Url.Action("Contact", "Home")">Contact</a></li>*@
                    <li><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy policy</a></li>
                    <li><a href="@Url.Action("TermsAndConditions", "Home")">Terms of use</a></li>
                </ul>
            </nav>
        </div>

        <div class="container terms-container">
            <div class="navbar-main">
                <div class="panel panel-info">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="terms-body">
                                    <div class="terms-body">
                                        <h1>Our privacy commitment</h1>

                                        <p>GreenMoney is committed to making our environmental rewards experience a great one for our users. We have utmost respect for your personal information and data privacy – this concern is at the fundamental core of our company.</p>

                                        <p>In order to provide a useful experience to you when you earning reward points via recycling, participating in green activities, taking environmental questionnaires and surveys, checking in to green businesses and redeeming rewards with participating GreenMoney reward partners, we need data from you; otherwise we cannot provide useful rewards, savings and tailored promotions and additional ways to earn environmental reward points for being a part of the GreenMoney program.</p>

                                        <p>This is our obligation to you. Whenever we collect and process your data, we will do so with your personal benefit in mind, by making the GreenMoney environmental rewards experience better for you and to help local communities and improve our environment.</p>

                                        <p>Please note that GreenMoney is bound by the National Privacy Principles (&quot;the NPPs&quot;) contained in the Privacy Act 1988 (Cth) (the &quot;Privacy Act&quot;). This document provides our Privacy Policy to you, in order to inform our users in more detail of our policies and procedures regarding the collection, use, and disclosure of the information that we collect and receive from account holders. Ultimately, you have no obligation to provide any information requested by GreenMoney and any information you do provide, you do so in accordance with this Privacy Policy.</p>

                                        <h2>Agreement and changes to this privacy policy</h2>

                                        <p>Please read the Privacy Policy carefully. By using the GreenMoney website, you agree to the Privacy Policy terms, to which this Privacy Policy applies. GreenMoney reserves the right to modify the GreenMoney website or to modify this Privacy Policy at any time. If we modify this Privacy Policy, we will notify you promptly of any such changes by prominently posting them when you log into your account or providing you with direct written notice of the modification. By continuing to access or use the GreenMoney website after we have posted a modification or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Privacy Policy. If the modified Privacy Policy is not acceptable to you, cease using the GreenMoney website without further delay.</p>

                                        <h2>How does greenMoney collect and use my personally identifiable information?</h2>

                                        <p>The GreenMoney website consists of a website and online-based environmental rewards program through which registered individuals who sign up to the program can participate in a variety of activities offered by GreenMoney in order to earn &quot;reward points&quot;.  GreenMoney reward points can be earned via home recycling, participating in green activities, taking quizzes and surveys, scanning products, checking in to businesses and redeeming rewards with participating businesses (&quot;Services&quot;). You can then redeem your reward points for rewards that may include discounts, merchandise, digital content and products, services, and other rewards. In addition, the GreenMoney website provides you with &quot;exclusive&quot; savings and promotions at participating businesses.</p>

                                        <p>When you use the GreenMoney website, our servers may:</p>

                                        <ol class="lower_roman">
                                            <li>automatically record information about your use of the website such as offers viewed and/or used, stores visited, information you entered, and</li>
                                            <li>record information derived from such information and other sources such as entries and offers viewed on our website or on GreenMoney's social media presence, or information provided by participating businesses.</li>
                                        </ol>

                                        <p>In addition, when using the GreenMoney website, we may ask that you provide us with <b>some personally identifiable information</b> (&quot;Personal Information&quot;) – that is Personal Information about you that can be used to contact or identify you, and information on your use or use of the website and related services.</p>

                                        <p>Personal Information that we might collect may include things such as your name, phone numbers, email address, home address.  Personal Information may also include other information you supply to us concerning your preferences and interests expressed in the course of using the Services. GreenMoney may also receive Personal Information from participating businesses provided by you in the course of your using the website, or from third parties, subject to the limitations of the Privacy Policies of those participating businesses or third parties.  The terms &quot;using&quot; and &quot;processing&quot; information, as used in this policy, include using cookies or other storage means on a computer or mobile device, subjecting the information to statistical or other analysis and collecting, storing, evaluating, modifying, deleting, using, combining, disclosing and transferring information within our organisation.</p>

                                        <p>GreenMoney will use Personal Information only for the following purposes:</p>

                                        <ol class="lower_roman">
                                            <li>to administer the Services,</li>
                                            <li>to provide, improve and optimise the Services,</li>
                                            <li>to personalise your experience,</li>
                                            <li>to provide you with software updates and/or reward promotion announcements,</li>
                                            <li>to better understand your needs and interests, and</li>
                                            <li>to provide you with further information and promotions from us that we believe you may find useful or interesting, such as environmental education, surveys, targeted advertising and reward promotions.</li>
                                        </ol>

                                        <p>We also collect or access <b>non-personally identifiable information</b> when you use our website, which search terms you used, or which referring/exit pages brought you to our page, device type and date/time information. We may use this information in conjunction with additional non-identifying information that you may provide us when signing up for your Account (for example, your gender or date of birth) for a few purposes. This allows us to analyse trends through aggregated demographic and psychographic information about our users generally, and thus, for example, to improve features and functionality of the Services and to make our Service more personalised and relevant to you.</p>

                                        <p>If you have opted in to receive newsletters, communications or special promotions  you may, in some circumstances, also receive newsletters, communications or rewards with participating business. You can change your preference to receive direct electronic communications in your GreenMoney account at any stage.</p>

                                        <p>In all other cases, we will only share data with participating businesses in an aggregated, not personally identifiable form for analysis and promotional reward purposes, with the goal to improve the environmental rewards experience further.</p>

                                        <p>At no stage does GreenMoney sell members <b>personally identifiable information without members express consent</b>.</p>

                                        <h3 class="alt">Cookies</h3>

                                        <p>We may use &quot;cookies&quot; (a cookie is a small data file that is kept in your browser for record-keeping purposes), and/or other storage on your computer or device) to help us collect, maintain, and use this information, for two purposes. First, to make the interactions easier and more personalised for users, we may utilise persistent cookies to save information relating to your Account and/or activity for future interactions with the website. Second, to better understand how you interact with the website and to monitor aggregate usage by GreenMoney users and web traffic routing on the Website, we utilise session ID cookies to enable certain features of the Services. Unlike persistent cookies, session cookies are deleted from your computer when you log off from the Website and then close your browser. Third party advertisers on the Website may also place or read cookies on your browser. At any time, you can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. Please understand that if you do not accept cookies, you may not be able to use all portions or all functionality of the Website.</p>

                                        <h3 class="alt">Usage patterns</h3>

                                        <p>We may also use data collection tags or directives such as &quot;pixel tags,&quot; Javascript scripts, API calls, or similar means (individually or collectively, &quot;Usage Tracking&quot;) in combination with cookies and the demographic or psychographic data we have collected, and with third-party analysis partners, to analyse usage patterns of users anonymously and to serve advertisements to you that are tailored based on our analysis of what we believe you would respond favourably to in light of the information that we have collected or accessed about you as described above. A &quot;pixel tag&quot; is an electronic image, often a single pixel and often transparent, that is placed on a web page and may be associated with cookies on your hard drive. Usage Tracking allows us to count users who have visited certain web sites and pages within web sites, or used applications or features, to analyse the behaviour of users of our web sites and application, in order to improve the web sites and application, and to personalise and determine the effectiveness of promotional or advertising campaigns.</p>

                                        <h2>When does GreenMoney disclose information?</h2>

                                        <p>We will not share personally identifiable information about you with anyone else except to provide the green rewards program, when we otherwise have your permission, or under the following circumstances:</p>

                                        <ul>
                                            <li>Personal Information. In order to take advantage of a reward being offered by a participating businesses through the website, you must provide the participating businesses with personally identifying information (which may include Personal Information) at the point of sale, to enable the participating business to verify that you are a GreenMoney accountholder. The Personal Information you provide to the participating businesses in this context will only be used by the participating businesses to record the transaction you make at the time you are redeeming an offer. Any Personal Information used in this context will be bound by this Privacy Policy. If you do not wish to share Personal Information with an participating businesses, you can choose not to provide your GreenMoney account number and not to take advantage of the offer when entering into transactions with that participating business.</li>
                                            <li>Aggregated Information. As noted above, GreenMoney may share with third parties or the public (through government or press articles) aggregated information in a form that does not disclose your Personal Information, nor be reasonably likely to allow you to be personally identified, for industry analysis, demographic profiling and similar purposes.</li>
                                            <li>Compliance with Legislation. We cooperate with law enforcement agencies and private parties to enforce and comply with statutory and/or criminal legislation. We reserve the right to track IP addresses for the purposes of fraud prevention, and to release IP addresses to government authorities. We will disclose information about you to with government agencies or private parties when we believe reasonably necessary to comply with law, to protect the property and rights of GreenMoney or a third party, to protect the safety of the public or any person, or to prevent or stop activity we may consider to be, or to pose a risk of being, any illegal, unethical or legally actionable activity.</li>
                                            <li>Business Transfers. We may sell, transfer or otherwise share your Personal Information in connection with a merger, acquisition, reorganisation or sale of our company (or our assets) or in the event of our bankruptcy; this is the only case in which we may sell Information we collect from you or from your use of the Website.</li>
                                        </ul>

                                        <h2>How can I change or delete my information?</h2>

                                        <p>You may review, update, correct or delete your Information in your registration profile by contacting GreenMoney or by making the appropriate modifications in your GreenMoney Account preferences. If you completely delete all such information, then your account may become deactivated. Alternatively, if you would like us to delete your Account and/or remove your records from our database, please contact us and we will delete your account within 28 days if we do not have any legal obligation to retain the record.</p>

                                        <h2>Is my information secure?</h2>

                                        <p>We employ administrative and electronic measures designed to safeguard and protect your information from unauthorised access and disclosure. In addition, we will delete information after it is no longer useful for providing the Services.</p>

                                        <p>We will make any legally required disclosures of any breach of the security, confidentiality, or integrity of your unencrypted electronically stored personal data to you via email or conspicuous posting on the Services in the most expedient time possible and without unreasonable delay, insofar as consistent with</p>

                                        <ol class="lower_roman">
                                            <li>the legitimate needs of law enforcement or</li>
                                            <li>any measures necessary to determine the scope of the breach and restore the reasonable integrity of the data system.</li>
                                        </ol>

                                        <h2>International transfer</h2>

                                        <p>Your information may be transferred to servers located outside of your state, country or jurisdiction where the privacy laws may not be as protective as those in your jurisdiction. Our Privacy Policy and its protection for you still applies in that jurisdiction.</p>

                                        <h2>Links to other sites</h2>

                                        <p>Our Services may contain links or API's (data or content exchange interfaces), to external services or websites of other partners or advertisers, including our participating businesses, for information or functionality or services. If you choose to visit a participating business or advertiser by &quot;clicking on&quot; or selecting a button, service, banner ad, or other type of advertisement, or click on another third party link, you will be directed to that third party's resources. The fact that we may link to or incorporate a partner's services, functionality, or website, or present a banner ad or other type of advertisement, is not an endorsement, authorisation or representation of our affiliation with that third party, nor is it an endorsement of their privacy or information security policies or practices. We do not exercise control over third party services, functionality, websites or other resources, including their use of personal information, and you should exercise caution when deciding to disclose any personal information to a third party. We encourage you to read the privacy policies or statements of the other websites you visit to learn more about their privacy practices. These other parties may place their own cookies or other files on your computer or device, collect data or solicit personal information from you. Other services follow different rules regarding the use or disclosure of the personal information you submit to them. Our Privacy Policy only applies to the Services and we are not responsible for the privacy practices or the content of other websites.</p>

                                        <h2>Children's information</h2>

                                        <p>The GreenMoney website is not directed to persons under 13 years of age. We do not knowingly collect personally identifiable information from children under 13. If a parent or guardian becomes aware that his or her child has provided us with Information without their consent, please contact us. If we become aware that a member is under the age of 13 and has provided us with Personal Information without verifiable parental consent, we will delete all information from our servers.</p>

                                        <h2>How to contact GreenMoney</h2>

                                        <p>If you would like to make an access request or wish to provide feedback about this policy, please contact GreenMoney via email to: <a href="mailto:help@greenmoney.com.au">help@greenmoney.com.au</a></p>

                                    </div>
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container My cart  -->
        </div>
    </div>
</div>
