@{
    ViewBag.Title = "Terms and conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="myaccountmenu">
        <div class="navbar-inner navbar-left">
            <nav class="nav-sidebar">
                <div class="brand">Help</div>
                <ul class="nav">
                    @*<li><a href="@Url.Action("Contact", "Home")">Contact</a></li>*@
                    <li><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy policy</a></li>
                    <li><a href="@Url.Action("TermsAndConditions", "Home")">Terms of use</a></li>
                </ul>
            </nav>
        </div>

        <div class="container terms-container">
            <div class="navbar-main">
                <div class="panel panel-info">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="terms-body">
                                    <div class="terms-body">
                                        <h1>Terms of use</h1>
                                        <p class="intro">Welcome to GreenMoney.</p>
                                        <p>The following terms are effective at - 10 November 2014</p>
                                        <p>Please ensure that you take the time to read the terms of service. These terms relate to you and your use of the GreenMoney Services (as described below), and constitute a legal agreement between you, as a user of our Services, and GreenMoney, as the provider of the Services.</p>
                                        <p>Your access to and use of the website, vouchers, platform or the Services we require your agreement to these terms in addition to our Privacy Policy specific terms that apply to each such Service (together, they are called the "Terms"). By using the Services and creating a GreenMoney Account, you agree to be bound by the Privacy Policy and these Terms as outlined below.</p>
                                        <h2>The service</h2>
                                        <p>GreenMoney is a platform that provides rewards and discounts based on the environmental actions of it's accountholders via website made available at <a href="../../../">http://www.greenmoney.com.au</a> (the "Services").</p>
                                        <p>Subject to your agreement with the following terms of use, you may register one account and access and use the Service, solely for your own personal and non-commercial use.</p>
                                        <p>You may not at any time:</p>
                                        <ul>
                                            <li>copy, modify or distribute the GreenMoney website and it's contents for any purpose;</li>
                                            <li>transfer, sublicense, lease, lend, rent or otherwise distribute the any Application or the Services to anyone else;</li>
                                            <li>reverse-engineer, decompile or create derivative works of the Application or the Services;</li>
                                            <li>make the functionality of the Application or the Services available to multiple users through any means; or</li>
                                            <li>use the Services in any unlawful manner, for any unlawful purpose, or in any manner inconsistent with the Terms. No other licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by GreenMoney.</li>
                                        </ul>
                                        <p>As part of the Services we provide, you may receive communications, alerts, emails or other types of direct electronic messages directly sent to you outside or inside the Services ("Push Messages"). You have direct control over the Push Messages settings, and can opt in or out of these Push Messages through the Services (with the possible exception of infrequent, important service announcements and administrative messages). Some of the Push Messages may be related to where you live, or to preferences you have set with regards to rewards.</p>
                                        <h2>Registration</h2>
                                        <p>In order to access certain features of the Services, you have to create an account with GreenMoney ("Account"). You must be a resident and reside in the muncipality boundaries in orderto activate an account for your household. Even if you do not "register" a username and/or password, we still need to create an Account for you in order to customise the Service user experience and show you more relevant information related to that experience. To create an Account, you must be at least 13 years of age. If you are younger than 13 years of age, then you need to ensure your parent or guardian's consent to your using the Services and redeeming rewards. If you register, you will be asked to choose a username and a password. You can use your username across all of our Services. As a result, your username will be valid for all GreenMoney Services. You are entirely responsible for safeguarding and maintaining the confidentiality of your password and you agree not to disclose your password to anyone else. You will be solely responsible for any activities or actions taken under your Account, whether or not authorised by you.</p>
                                        <p>Please notify us immediately of any unauthorised use of your password or your Account. We are not liable for any loss or damage from your failure to comply with these requirements. You agree that the information you provide us will be true, accurate, current and complete. By creating an Account with us, you consent to the use of: (i) electronic means to complete the Terms and to provide you with any notices given pursuant to the Terms; and (ii) electronic records to store information related to the Terms or your use of the Services.</p>
                                        <h2>Earning rewards and savings by recycling at home or apartments</h2>
                                        <p>For accountholders participating in a GreenMoney recycling at home program, every time your household recycle bin is collected, the weight of the material in your recycle bin is recorded by a radio frequency identification device installed on your nominated recycling bin. The weight data of the bin is recorded and transferred to GreenMoney who then converts the weight of the bin into GreenMoney reward points to your nominated account. For the purposes of the rewards for recycling at home program, one kilogram of collected recyclable waste equates to between 10 - 50 GreenMoney points being awarded to the individual account holder depending on your location.</p>
                                        <p>Should there be any failure or error in the collection a households recycling material at any stage, GreenMoney may credit the account using other means not correlated to the exact weight of the bin. Should GreenMoney discover that a household bin has been contaminated by non-recyclable material, GreenMoney may award reduced points or zero points for that collection or have their GreenMoney account cancelled without notice depending on the severity of the contamination.</p>
                                        <p>GreenMoney reward points earned by an account holder via the household recycling program are capped at a predetermined level at each collection in order to reduce the prospects of householder dishonesty and "overloading" a bin.GreenMoney may change the predetermined weight cap at any time, without notice to households and account holders.</p>
                                        <p>GreenMoney is not ultimately responsible for any actions or omissions of government or waste management providers in relation to the collection of, or the accurate measurement of recyclable materials or accuracy of the reward points awarded to an individual account holder for home recycling.</p>
                                        <h2>Privacy settings</h2>
                                        <p>Our goal is to make our Services as useful and rewarding for you as possible. In order to do that, we need to collect and process personal information from you from time to time when you use the Services. So, when you use the website and our Services, we will need to collect some personally identifiable information from you as set in out in more detail in Privacy Policy, which forms a part of our Terms of Service.</p>
                                        <p>When you use the Services, GreenMoney has access to, and in many cases may look at your usage of the Service as you send and receive Content. By using the Services, you agree that we may collect, use and disclose, as set forth in the Privacy Policy, certain "non personally identifiable information" you provide during your use of the Services, and in some cases information that is provided to the Services by other parties. As part of providing you the Services, we may need to provide you with certain infrequent service communications, such as service announcements and administrative messages related to your account administration such as reset passwords ("Service Communications"). These Service Communications, which are considered part of the Services and your Account, which you will not be able to opt-out from receiving.</p>
                                        <h2>Payment</h2>
                                        <p>The use of the Services are currently made available to users free of charge.</p>
                                        <h2>Content</h2>
                                        <p>Our Services may allow you to post text, graphics, images, and other content for display or publication through the Services ("Content"). By submitting Content to GreenMoney, you hereby grant GreenMoney a worldwide, royalty-free, sub-licensable and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the Content in connection with the Services and GreenMoney's (and its successor's) business, including without limitation for promoting and redistributing part or all of the Services (and derivative works thereof) in any media formats and through any media channels. If you publish images or other such content through the Services, they may be viewed by and shared with other users, for example, on social networks like Twitter or Facebook, based on your settings.</p>
                                        <p>You agree not to:</p>
                                        <ul>
                                            <li>submit material that violates anyone else's proprietary rights, including privacy and publicity rights, or can be considered spam or junk mail;</li>
                                            <li>knowingly publish false or inaccurate information;</li>
                                            <li>submit material that is unlawful, obscene, defamatory, libellous, threatening, pornographic, harassing, hateful, racially or ethnically offensive, or encourages conduct that would be considered a criminal offense, give rise to civil liability, violate any law, or is otherwise inappropriate;</li>
                                            <li>post advertisements, chain letters or other solicitations; or</li>
                                            <li>impersonate another person. GreenMoney does not endorse any Content or any opinion, recommendation, or advice expressed therein, and we expressly disclaim any and all liability in connection with any Content. We reserve the right to decide whether Content is appropriate and complies with the Terms, and may remove such Content and/or terminate your access for uploading material in violation of the Terms at any time without prior notice. We will fully cooperate with any law enforcement authorities or court order requesting or directing us to disclose the identity of anyone posting publishing or otherwise making available Content or other materials that are believed to violate the Terms.</li>
                                        </ul>
                                        <h2>Third party trademarks</h2>
                                        <p>The names of individuals, groups, companies, products and services related to the Service and the rewards are used for identification purposes only and may be protected by the intellectual property rights, such as trademarks and copyrights, of their respective owners. The mention of any individual, group or company, or the inclusion of a product or service within the Service or as a Service reward does not imply any association with or endorsement by such individual, group or company or the manufacturer or distributor of such product or service and, except as otherwise indicated, no association or endorsement is intended or should be inferred.</p>
                                        <h2>Copyright</h2>
                                        <p>GreenMoney's policy is to terminate your access to the Services if you infringe the copyright rights of others upon receipt of proper notification to GreenMoney by the copyright owner or the copyright owner's legal agent.</p>
                                        <p>If you believe that your work has been copied and posted on the Services in a way that constitutes copyright infringement, please provide us with the following information:</p>
                                        <ul>
                                            <li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;</li>
                                            <li>a description of the copyrighted work that you claim has been infringed;</li>
                                            <li>a description of where the material that you claim is infringing is located on the Services;</li>
                                            <li>your address, telephone number, and email address;</li>
                                            <li>a written statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; (vi) a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf. You may contact our Copyright team at help@greenmoney.com.au.</li>
                                        </ul>
                                        <h2>Rewards</h2>
                                        <p>Any reward promotions or competitions that may be offered via the GreenMoney website or Application may be governed by a separate set of rules that may have eligibility requirements, such as age or geographic area restrictions, terms and conditions governing the Promotion, use of Submissions, and disclosures about how your personal information may be used.</p>
                                        <p>It is a user's responsibility to read these rules to determine whether or not you want to and are eligible to participate, register and/or enter, and to determine the applicable terms and conditions of any Promotion. By participating in a Promotion, you will be subject to those official rules, and you agree to comply with and abide by such rules and the decisions of any sponsor identified therein.</p>
                                        <h2>Restrictions</h2>
                                        <p>The Services may be used and accessed for lawful purposes only. You agree not to, and to not encourage or conspire with anyone else to, engage in any conduct that is inconsistent with the purposes, intent and spirit of the Services, or otherwise try to exploit or "game the system". You also agree to abide by all applicable local, state, national and foreign laws and regulations in connection with your use of the Services.</p>
                                        <p>In addition, you agree not to do any of the following while using or accessing the Services:</p>
                                        <ul>
                                            <li>use the Services to collect or store data about other users without their express permission;</li>
                                            <li>use or access the Services for purposes of monitoring their availability, performance or functionality, or for any other benchmarking or competitive purposes without our written consent.</li>
                                            <li>upload, post, email or otherwise transmit any viruses or other computer code that may interrupt, destroy, limit the functionality of the Services, or interfere with the access of any user to the Services;</li>
                                            <li>circumvent, disable or otherwise interfere with security related features of the Services or features that prevent or restrict use or copying of any Content;</li>
                                            <li>use any meta tags or other hidden text or metadata utilizing a GreenMoney name, trademark, URL or product name;</li>
                                            <li>use manual or automated software, devices, scripts robots, other means or processes to access, "scrape," "crawl" or "spider" any web pages contained in the Services;</li>
                                            <li>attempt to or actually access the Services by any means other than through what is provided by GreenMoney;</li>
                                            <li>attempt to probe, scan or test the vulnerability of any GreenMoney system or network or breach or impair or circumvent any security or authentication measures protecting the Services;</li>
                                            <li>attempt to decipher, decompile, disassemble, reverse engineer, or otherwise attempt to discover or determine the source code used to provide the Services;</li>
                                            <li>use the Services in any way that competes with GreenMoney; or</li>
                                            <li>attempt to or acquire GreenMoney reward points or rewards other than in a manner consistent with the intended use of the Services outlined in the Terms;</li>
                                            <li>encourage or instruct any other individual to do any of the foregoing.</li>
                                        </ul>
                                        <p>GreenMoney expressly reserves the right to retrospectively reverse any points, rewards or benefits granted to any user for prohibited conduct, or based on any material violation of the Terms. GreenMoney shall determine, in its sole discretion, whether you have engaged in prohibited conduct; GreenMoney's decision shall be final, and by agreeing to these terms you waive any and all rights you may have to challenge that decision.</p>
                                        <h2>Termination</h2>
                                        <p>You may terminate your Account at any time and for any reason by deleting your account via the GreenMoney account pages or by sending GreenMoney written notice. Upon any termination by you, your Account will no longer be accessible. Any cancellation request will be handled within 30 days of receipt of such a request by GreenMoney.</p>
                                        <p>Any suspension, termination or cancellation will not affect your obligations to GreenMoney under the Terms (including but not limited to ownership, indemnification and limitation of liability), which by their sense and context are intended to survive such suspension, termination or cancellation.</p>
                                        <p>GreenMoney may immediately terminate your access to the Services and remove any material (including any Content provided by you) from the Services or our servers, in the event that you breach the Terms, at our sole discretion and without prior notice to you. We also reserve the right to terminate the Services or your access at any time and for any reason, including but not limited to the need to conduct maintenance or if we discontinue any portion of the Services. Upon termination, all rights granted to you under the Terms will immediately cease. We will not be liable to you or any other person for termination of the Services or termination of your use of the Services.</p>
                                        <p>Upon any termination or suspension, any information (including Content) that you have submitted to the Services may no longer be accessed by you. Furthermore, we will have no obligation to maintain any information stored in our database related to your Account or to forward any information to you or any other person.</p>
                                        <h2>Ownership</h2>
                                        <p>GreenMoney's Services are protected by copyright, trademark, and other laws of Australia. GreenMoney own all right, title and interest in and to the Services, including all associated intellectual property rights. You may not remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Services. You may not use, copy, adapt, modify, prepare derivative works based upon, distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Services, except as expressly permitted in the Terms. Any feedback, comments and suggestions you may provide for improvements to the Services ("Feedback") will be the sole and exclusive property of GreenMoney and you hereby irrevocably assign to GreenMoney all of your right, title, and interest in and to all Feedback.</p>
                                        <h2>Third party services and websites</h2>
                                        <p>The Services may contain content or services provided by third parties and/or links to third party services, websites or resources. We are not responsible or liable for the availability, accuracy, functionality, adherence to third party policies or GreenMoney policies, or legality of, and we do not endorse, such websites, services or resources or the content, products, or services on or available from such websites or resources. You are solely responsible for and assume all risk arising from your use of any such websites, services or resources.</p>
                                        <h2>Disclaimers</h2>
                                        <p>Your use of the Services is at your sole discretion and risk. GreenMoney will not be responsible for any harm to your computer or mobile device, loss of data, personal injury, property damage, or other harm that results from your use of the Services. We do not make any warranties:</p>
                                        <ul>
                                            <li>regarding the security, accuracy, reliability, timeliness and performance of the Services; or</li>
                                            <li>that the Services will be error-free or that any errors will be corrected. GreenMoney will not be liable, and you are solely responsible, for any access or usage charges charged by your wireless carrier related to any device that you use to access or use the Application or Services.</li>
                                        </ul>
                                        <p>We are not responsible for:</p>
                                        <ul>
                                            <li>incorrect or inaccurate transcription of information;</li>
                                            <li>problems related to any of the equipment or software associated with the Services or used by you;</li>
                                            <li>human error outside our reasonable control;</li>
                                            <li>any interruption, deletion, omission, degradation, defect, or line failure of any telephone network or electronic transmission, or;</li>
                                            <li>problems relating to inability to access an Application or Service.</li>
                                        </ul>
                                        <p>We disclaim all liability for any technical failures or errors of, on, or connected to the Services and/or Application, including but not limited to Push Messages sent erroneously due to technical failures or errors. We will use reasonable efforts to correct any such failures swiftly upon discovering them or being informed about them. If you think you have received Push Messages in error or experienced other technical failures in relation to the Services, please contact us immediately.</p>
                                        <p>The Services, and all materials, information, products and services included therein, are provided on an "AS IS" and "AS AVAILABLE" basis without warranties of any kind. WE EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, EXPRESS, IMPLIED OR STATUTORY, RELATING TO THE SERVICES, INCLUDING WITHOUT LIMITATION THE WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OF PROPRIETARY RIGHTS, COURSE OF DEALING OR COURSE OF PERFORMANCE. No advice or information, whether oral or written, obtained by you from GreenMoney, will create any warranty not expressly stated in this Agreement.</p>
                                        <h2>Indemnity</h2>
                                        <p>You agree to defend, indemnify, and hold GreenMoney, its officers, directors, employees and agents, harmless from and against any claims, liabilities, damages, losses, and expenses, including without limitation reasonable attorney's fees and costs, arising out of or in any way connected with (i) your access to or use of the Services; (ii) your violation of the Terms; or (iii) your violation of any third party right, including without limitation any intellectual property right, publicity, confidentiality, property or privacy right.</p>
                                        <h2>Limitation of liability</h2>
                                        <p>IN NO EVENT WILL GREENMONEY, ITS OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS, BE LIABLE TO YOU FOR ANY INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES OF ANY KIND ARISING OUT OF OR IN CONNECTION WITH YOUR USE OF THE SERVICES, WHETHER THE DAMAGES ARE FORESEEABLE AND WHETHER OR NOT GREENMONEY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT WILL GREENMONEY'S LIABILITY TO YOU, FOR ALL CLAIMS REGARDLESS OF TYPE, EXCEED TEN DOLLARS.</p>
                                        <p>In addition, from time to time, various entities may sponsor reward points, offers and other rewards as part of a Service ("Sponsors"). YOU HEREBY WAIVE AND DISCLAIM ANY AND ALL LIABILITY CLAIMS AGAINST SPONSORS RELATING IN ANY WAY TO YOUR USE OF THE SERVICES OR ANY SUCH REWARDS. You agree that Sponsors are third party beneficiaries of the Terms, and the Sponsor may enforce its own terms or provisions directly.</p>
                                        <h2>Exclusions</h2>
                                        <p>Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the above limitation may not apply to you.</p>
                                        <h2>General</h2>
                                        <p>The Terms shall be governed by New South Wales, Australia law, without respect to its conflict of laws principles.</p>
                                        <p>The Terms are the entire agreement between you and GreenMoney concerning the Services, and supersede all prior or contemporaneous communications between you and GreenMoney with respect to the Services. If any provision of the above Terms is deemed invalid by a court of competent jurisdiction, the remaining provisions will remain in full force and effect. No waiver of any term of the Terms shall be deemed a further or continuing waiver of such term or any other term, and GreenMoney's failure to assert any right or provision under the Terms shall not constitute a waiver of such right or provision.</p>
                                        <p>We reserve the right, in our sole discretion, to modify, discontinue or terminate the Services at any time, or modify the Terms of which you shall be so advised. All modified terms and conditions will be effective after the new terms and conditions have been posted on the GreenMoney website. If any modified terms and conditions are not acceptable to you, please cease using the Services, and if applicable, cancel your Account. By continuing to access or use the Services after we have posted the new terms and conditions on the site, you agree to be bound by such changes.</p>
                                        <p>If you have any questions about the Terms, please contact us at <a href="mailto:hello@greenmoney.com.au">hello@greenmoney.com.au</a></p>
                                        <p>We hope you enjoy using GreenMoney!</p>
                                    </div>
                                    <!-- /.col-lg-12 -->
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container My cart  -->
            </div>
        </div>
    </div>
