@{
    ViewBag.Title = "ForgotPasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Get, new {@class = "form-horizontal"}))
{
    <div class="container main-form">
        <div class="container-inner">
            <div class="content-form text-center">
                <div class="row">
                     <div class="float-none row">

                        <h1>Success</h1>

                        <h2 class="alt">A new password has been sent to your email address!</h2>

                        <p class="intro">
	                        Check your inbox for our email containing your new password. Please log in with your this password.
                        </p>

                        <p>
	                        Remember to change your password after successfully logging in again.
                        </p>

                        <p><a href="@Url.Action("Index", "Home")">Return to home page</a></p>

                    </div>
                  
                </div>
            </div>
        </div>
    </div>
}