@using GM.ViewModels
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
{
    <div class="container main-form">
        <div class="container-inner">
            <div class="content-form text-center">
                <div class="row">
                     <div class="float-none row">
<br>
			<img src="~/Images/sadface.png" alt="" style="width: 100px; height: 100px"/>      
<br>
                        <h2>Forgot your password?</h2>
                         <p>
			                No problem, we will send you a new one. 
<br>
<br>
					Enter your email below and new password will be sent to you.
		                </p>


<br>

                         @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

                    </div>
                    <div class="float-none col-md-5">
                        <div>
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class="form-field form-control unit-number"})
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="float-none col-md-5">
                        <input type="submit" class="btn col-md-8 mainBtn col-md-offset-2" value="Send new password"/>
                    </div>	
                </div>
            </div>
        </div>
    </div>
}
