@model GM.ViewModels.Shared.LayoutViewModel
@{
    ViewBag.Title = "Register Account Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-form">
    <div class="container-inner">
        <div class="content-form text-center">
            <div class="row">
                <div class="float-none row">
                    <h1>One last step.. </h1>
<br>   			
<h3 class="alt">Check your inbox and click the activation link in our email.</h3>
		<br>
<br>
<br>
<br>
                    <a href="http://bit.ly/GreenMoneyApp" target="_blank"> <img src="~/Images/iphonebig.png" alt="" style="width: 430px; height: 430px"/></a>              
<br>
<br>
<br>
<br>
	
                 
<br>
<br>
 <p><a href="https://www.greenmoney.com.au/Account/MyProfile">Download to use vouchers on the go > </a></p>

<br>
<br>
<br>
<br>
<br>
               
                </div>
            </div>
        </div>
    </div>
</div>
