<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Password Reset Email</title>
</head>

<body style="background:#e9f2fb;padding:0;">

<table width="90%" cellpadding="0" cellspacing="0" align="center" style="max-width:900px;">
	<thead>
		<tr>
			<td colspan="2" bgcolor="#e9f2fb" style="height:10px;font-size:1px;">&nbsp;</td>
		</tr>
		<tr>
			<td valign="middle" bgcolor="#ffffff" style="padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:10px;">
				<img src="http://www.greenmoney.com.au/images/logo-voucher.png" width="71" height="59" alt="GreenMoney" />
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2" bgcolor="#e9f2fb" style="height:10px;font-size:1px;">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2" bgcolor="#ffffff" style="height:10px;font-size:1px;">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2" bgcolor="#ffffff" style="color:#000;font-family:Arial, Helvetica, sans-serif;font-size:14px;padding-bottom:0;padding-left:12px;padding-right:12px;padding-top:0;line-height:20px;">
				<p style="margin-top:0;">Hi @Model.FirstName</p>

				<p>Your GreenMoney account password has been reset. The new password is:</p>
				
				<p><b>@Model.Password</b></p>
				
				<p>
					Copy and paste your new password to login in to your account here:<br>
					<a href="@Model.LoginUrl" style="color:#5da9dd;text-decoration:underline;"><b>@Model.LoginUrl</b></a>
				</p>
				
				<p>Please remember to change your password at Update Profile as soon as you login.</p>
				
				<p>♥ <a href="http://app.greenmoney.com.au" style="color:#5da9dd;text-decoration:underline;">Download the GreenMoney App to use your rewards on the go</a></p>  
				
				<p>
					Best regards<br>
					The GreenMoney team<br>
					<a href="http://www.greenmoney.com.au" style="color:#5da9dd;text-decoration:underline;">www.greenmoney.com.au</a>
				</p>
				
				<p style="color:#666666;font-size:12px;margin-bottom:0;">
					<br>
					<a href="http://www.greenmoney.com.au/privacy-policy" style="color:#5da9dd;text-decoration:underline;">Privacy policy</a> &nbsp;|&nbsp;<a href="http://www.greenmoney.com.au/learn-more/faq" style="color:#5da9dd;text-decoration:underline;">FAQ</a> &nbsp;|&nbsp;<a href="http://www.greenmoney.com.au/learn-more/contact-us" style="color:#5da9dd;text-decoration:underline;">Contact us</a>
				</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" bgcolor="#ffffff" style="height:10px;font-size:1px;">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2" bgcolor="#e9f2fb" style="height:10px;font-size:1px;">&nbsp;</td>
		</tr>
	</tbody>
</table>

</body>

</html>