<footer class="hidden-xs">
    <div class="container footer">       
        <div id="nav_seo">
            <ul>
                <li>
                    <a href="http://app.greenmoney.com.au" target="_blank"> &#128241; Download App</a>
                </li>
		<li>
                    <a href="@Url.Action("Section", "General", new { id = "about"})">Learn more</a>
                </li>
	
                <li>
                    <a href="@Url.Action("Section", "General", new { id = "terms-and-privacy"})">Terms & privacy</a>
                </li>
                <li>
                    <a href="https://greenmoney.desk.com" target="_blank">Support centre</a>
                </li>
<li>
<h4>Translate &nbsp &nbsp</h4>
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</li>    
            </ul>
        </div>
    
        <p id="copyright">powered by GreenMoney Gov 3.5</p>
    </div>
</footer>
<footer class="visible-xs"style="background: #fff;border-top:1px solid #929497; position: fixed;width: 100%;">
    <nav>
      <menu class="footer-mobile-menu">
        <li><a href="/Rewards"><img src="~/Images/redeem-grey-mob.png" style="width:35px" /></a>Redeem</li>
        <li><a href="/Challenges"><img src="~/Images/earn-grey-mob.png" style="width:35px"/></a>Earn</li>
        <li><a href="/Account/Wallet"><img src="~/Images/mywallet-grey-mob.png" style="width:35px"/></a>My wallet</li>
        <li><a href="/Account/MyProfile"><img src="~/Images/user-icon-grey-mob.png" style="width:35px"/></a>Me</li>
      </menu>
    </nav>
</footer>
