<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Server=(local);Initial Catalog=greenMoney2;User ID=green2;Password=green83" 
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="greenMoneyEntities" 
         connectionString="metadata=res://*/Entities.GreenMoneyDataModel.csdl|res://*/Entities.GreenMoneyDataModel.ssdl|res://*/Entities.GreenMoneyDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=(local);Database=greenMoney2;User Id=green2;Password=green83;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings>
    <add key="SupportEmail" value="suzanna@greenmoney.com.au" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="Facebook.AppId" value="913414202022157" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="Facebook.AppSecret" value="e73f18b6a8be57477b40fb4a0e63a060" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="FacebookLoginUrl" value="http://www.mywebplace.rs/Home/FacebookLoginNew" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="SiteRootUrl" value="http://www.mywebplace.rs" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="SiteRoot" value="http://www.mywebplace.rs" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="DefaultSupplierAddressId" value="350894" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="IsProductionSite" value="false" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="MasterAdminEmail" value="david@greenmoney.com.au" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="TestEmailAddress" value="suzanna@greenmoney.com.au" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>  
</configuration>