@model GM.ViewModels.Shared.LayoutViewModel
@{
    Layout = null;
}

<div class="navbar-right" class="navbar-main">
    <ul class="nav navbar-nav">
        <li><a href="@Url.Action("Create", "SupplierRewards", new { id = ""})">Create new reward</a>
        </li>
        <li><a href="https://greenmoney.desk.com/customer/portal/emails/new">Help</a>
        </li>
    </ul>
</div>
                          